version: '2'

services:
  grafana:
    image: grafana/grafana:4.0.0-beta1
    ports:
      - 80:3000
    volumes:
      - grafana:/var/lib/grafana
    depends_on:
      - statsd
  statsd:
    image: hopsoft/graphite-statsd
    volumes:
      - graphite_storage:/opt/graphite/storage
      - graphite_config:/opt/graphite/conf
    ports:
      - 8125:8125/udp
      - 8126:8126

volumes:
  grafana:
    driver: local
  graphite_storage:
    drive: local
  graphite_config:
    drive: local
